<h3 class="form-control text-center bg-dark text-light">Course List</h3>

<div class="form-control">
  <label for="search">Search</label>
  <input
    type="text"
    class="form-control col-6"
    name="search"
    [(ngModel)]="searchText"
  />
  <br />

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Platform</th>
        <th>Hours</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses | filter: searchText">
        <td>{{ course.courseName }}</td>
        <td>{{ course.platformName }}</td>
        <td>{{ course.learningHours }}</td>
        <td>{{ course.startDate }}</td>
        <td>{{ course.endDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
