<div class="form-control container">
  <div class="form-row">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control alert alert-dark text-dark p-2"
        [(ngModel)]="searchText"
        (input)="search()"
        placeholder="Search by Course Name or platform"
      />
    </div>
    <div class="d-flex justify-content-end col-md-6 p-2">
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target=".bd-example-modal-lg"
        (click)="resetForm()"
      >
        + Add New Course
      </button>
    </div>
  </div>
  <div *ngFor="let row of courses">
    <div class="card form-control mt-3">
      <h3 class="card-header bg-dark text-light">
        {{ row.courseName | uppercase }}
      </h3>
      <div class="card-body alert-secondary">
        <div class="form-row">
          <h4 class="card-title">Training Platform :</h4>

          <h4 class="card-text ml-2">
            {{ row.trainingPlatform | uppercase }}
          </h4>
        </div>
        <div class="form-row">
          <h4 class="card-title">Platform :</h4>

          <h4 class="card-text ml-2">
            {{ row.platformName | uppercase }}
          </h4>
        </div>

        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target=".bd-example-modal-lg"
            (click)="onEdit(row)"
          >
            Enroll
          </button>
        </div>
        <div class="form-row">
          <h4 class="card-title">Learning Hours :</h4>

          <h4 class="card-text ml-2">
            {{ row.learningHours }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue" class="needs-validation">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputCourseName4">Training Platform</label>
              <input
                type="text"
                class="form-control"
                [readonly]="disabledValue"
                formControlName="trainingPlatform"
                placeholder="Enter Training Platform"
                required
              />
              <small
                *ngIf="trainingPlatform?.invalid && trainingPlatform?.touched"
                class="text-danger"
                >Training Platform is Required</small
              >
            </div>

            <div class="form-group col-md-4">
              <label for="inputCourseName4">Course Name</label>
              <input
                type="text"
                class="form-control"
                [readonly]="disabledValue"
                formControlName="courseName"
                placeholder="Enter Course Name"
                required
              />
              <small
                *ngIf="courseName?.invalid && courseName?.touched"
                class="text-danger"
                >Course Name is Required</small
              >
            </div>

            <div class="form-group col-md-4">
              <label for="inputPlatform4">Platform Name</label>
              <input
                type="text"
                class="form-control"
                [readonly]="disabledValue"
                formControlName="platformName"
                placeholder="Enter Platform Name"
                required
              />
              <small
                *ngIf="platformName?.invalid && platformName?.touched"
                class="text-danger"
                >Platform Name is Required</small
              >
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCourseUrl">Course URL</label>
              <input
                type="text"
                class="form-control"
                [readonly]="disabledValue"
                formControlName="courseUrl"
                placeholder="Enter Course Url"
                required
              />
              <small
                *ngIf="courseUrl?.invalid && courseUrl?.touched"
                class="text-danger"
                >Course URL is Required</small
              >
            </div>

            <div class="form-group col-md-4">
              <label for="inputNoOfHours4">Learning Hours</label>
              <input
                type="number"
                class="form-control"
                [readonly]="disabledValue"
                formControlName="learningHours"
                placeholder="Enter Learning Hours"
                required
                min="0"
              />
              <small
                *ngIf="learningHours?.invalid && learningHours?.touched"
                class="text-danger"
                >Learning Hours is Required</small
              >
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputStartDate4">Start Date</label>
              <input
                type="date"
                class="form-control"
                formControlName="startDate"
                placeholder="Enter Start Date"
                min="{{ minDate }}"
                required
              />
              <small
                *ngIf="startDate?.invalid && startDate?.touched"
                class="text-danger"
                >Start Date is Required</small
              >
            </div>

            <div class="form-group col-md-4">
              <label for="inputEndDate4">End Date</label>
              <input
                type="date"
                class="form-control"
                formControlName="endDate"
                placeholder="Enter End Date"
                min="{{ minDate }}"
                required
              />
              <small
                *ngIf="endDate?.invalid && endDate?.touched"
                class="text-danger"
                >End Date is Required</small
              >
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="category4">Category</label>
              <select
                name="category"
                class="form-control"
                formControlName="category"
                placeholder="Enter Category"
              >
                <option value="Mandatory">Mandatory</option>
                <option value="Non-Mandatory">Non-Mandatory</option>
              </select>
              <small
                *ngIf="category?.invalid && category?.touched"
                class="text-danger"
                >This Field is Required</small
              >
            </div>

            <div class="form-group col-md-4">
              <label for="trainingType4">Training Type</label>
              <select
                name="trainingType"
                class="form-control"
                formControlName="trainingType"
                placeholder="Enter Training Type"
              >
                <option value="Internal">Internal</option>
                <option value="External">External</option>
              </select>
              <small
                *ngIf="trainingType?.invalid && trainingType?.touched"
                class="text-danger"
                >This Field is Required</small
              >
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="goToCourseList()"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="postCourseDetails()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
